.container-fluid {
	flex-wrap : wrap;
	max-width: 880px;
	width: 100%;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

p {
	font-family: courier new;
}

.col-md-1 {
	padding-left: 1px;
	padding-right: 1px;
	width: 50px;
	margin: 2px;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project-entry {
	/*max-width: 500px;*/

}

#header {
	margin-left: 200px;
}

#projects {
	max-width: 450px;
	margin-left: 220px;
	/*margin-right: 220px;*/
}

body {
	font-family: courier new;
}

h2 {
	padding-left: 0px;
}

.modal-content {
	border-radius: 0px;
}