* {
	border: 1px solid red;
}

.container {
	flex-wrap : wrap;
	max-width: 880px;
	width: 100%;
}

body {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

p {
	font-family: courier new;
	margin-top: 0px;
	margin-bottom: 0px;
}

.col-md-1 {
	padding-left: 1px;
	padding-right: 1px;
	width: 50px;
	margin: 2px;
}

.row {
	/*width: 100%;*/
	/*display: flex;
	flex-wrap: wrap;*/
}

.project-entry {
	/*max-width: 500px;*/
	padding-left: 0px;
	padding-right: 0px;
}

.thumb {
	width: 50px;
	height: 50px;
}

#about {
	padding-left: 0px;
}

#content {
	width: 100%;
}

#logo {
	margin-left: 0px;
	margin-right: 0px;
}

#header {
	padding-left: 0px;
}

#header-content {
	margin-left: 0px;
}

#projects {
	max-width: 450px;
	/*margin-left: 220px;*/
	/*margin-right: 220px;*/
}

#projects-header {
	padding-left: 0px;
	padding-right: 0px;
}

body {
	font-family: courier new;
}

h2 {
	padding-left: 0px;
}

.modal-content {
	border-radius: 0px;
}

.thumb:hover {
}