* {
	/*border: solid red 1px;*/
}

button {
	background-color: rgba(255, 255, 255, 1);
	border: none;
}

/*input {
	background-color: #fff;
}*/

ul{
	background-color: rgba(255, 255, 255, 0.25);
}

li {
	margin: 5px;
}

li.dropdown {
	margin-bottom: 0px;
}

.btn {
	border-radius: 0px;
}

.container {
	margin: 0;
	width: 100%;
}

.dropdown-menu {
	border-radius: 0px;
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.75);
}

.food-list-item:hover {
	background-color: #c8d8a8;
}

.navbar {
	margin-bottom: 0px;
}

.icon-bar {
	border: solid black 1px;
}

.text-blocks {

}

.info-window {
	max-width: 200px;
	text-align: center;
}

/* specs for google maps */
html,
body,
#map-canvas {
	height: 80vh;
	width: 100%
	margin: 0;
	padding: 0;
	min-height: 500px;
}

#page-start {
	height: 100vh;
	width: 100%;
	background: #fff;
	background-position: center;
	text-align: right;
}

#page-main {
	height: 100vh;
}

#logo {
	text-align: right;
	/*padding-top: 80vh;*/
	color: #F58A2C;
}

#src-form {
/*	margin-top: 100%;
	margin-bottom: 100%;*/
	padding-top:45vh;
}
#src-div {
	/*height: 100%;*/
	text-align: center;
}

#src-input {
	width: 200px;
}

#nav {
	background-color: rgba(255, 255, 255, 0.5);
}

#logo-2 {
	text-align: right;
	vertical-align: middle;
}

#nav1:hover,
#nav1:focus {
	background-color: #c8d8a8;
	color: #fff;
}

#nav2:hover,
#nav2:focus {
	background-color: #f1b235;
	color: #fff;
}

#nav3:hover,
#nav3:focus {
	background-color: #a2bddb;
	color: #fff;
}

@media (max-width: 320px) {
	.text-blocks {
		/*visibility: hidden;*/
	}

	#logo-2 {
		visibility: hidden;
	}
}